DATABASE_URL=postgres://plastmem:plastmem@localhost/plastmem
OPENAI_BASE_URL=http://localhost:11434/v1/
OPENAI_API_KEY=plastmem
OPENAI_CHAT_MODEL=qwen3:8b
OPENAI_CHAT_SEED=1145141919810721
OPENAI_EMBEDDING_MODEL=qwen3-embedding:0.6b
ENABLE_FSRS_REVIEW=true
